twitter-login-page {
	$twitter-image-heading-height: 48vh;

	.twitter-header
	{
		@include header-styles(color($colors, twitter, base), color($colors, twitter, contrast));
	}

	.twitter-integration-content
	{
		background-color: $white-b;

		.no-connection-message
		{
			margin: 30px 6% 20px;
			color: rgba($black-d, .7);
			line-height: 1.33;
			text-align: center;
		}

		.twitter-connect-row
		{
			padding: 16px;

			.auth-action-button.twitter-auth-button
			{
				@include call-to-action-button-styles(color($colors, twitter, base), color($colors, twitter, contrast));
			}
		}

		.main-user-data-row
		{
			background-image: linear-gradient(to bottom, color($colors, twitter, base) 0%, color($colors, twitter, base) 55%, color($colors, background, base) 55%);
			padding: 16px 12%;

			.twitter-user-image
			{
				border-radius: 10px;
				box-shadow: 0 1px 0 0 rgba($black, 0.1);
			}

			.social-connections-col
			{
				color: color($colors, twitter, base);
				margin-top: 24px;
				padding: 8px 0px;
				display: flex;
				align-items: center;
				justify-content: flex-start;

				& + .social-connections-col
				{
					border-left: 1px solid color($colors, twitter, base);
					justify-content: flex-end;
				}

				.connection-type
				{
					font-size: 1.2rem;
					letter-spacing: 0.2px;
				}

				.connection-number
				{
					font-size: 2.2rem;
					font-weight: 500;
					margin: 0px;
					margin-left: 10px;
				}
			}
		}

		.user-extended-data-row
		{
			padding: 20px 16px;

			.user-display-name
			{
				margin: 0px;
				color: $theme-color-3;
				font-size: 2.2rem;
				letter-spacing: 0.8px;
				font-weight: 400;
			}

			.user-username
			{
				color: $black-d;
				font-size: 1.6rem;
				line-height: 1.3;
				font-weight: 400;
				margin: 3px 0px;
			}

			.user-description
			{
				color: $theme-color-3;
				font-size: 1.6rem;
				line-height: 1.3;
				margin: 30px 0px;
			}

			.user-location
			{
				color: $black-d;
				font-size: 1.6rem;
				line-height: 1.3;
				display: flex;
				align-items: center;

				.location-icon
				{
					font-size: 3rem;
				}

				.location-name
				{
					margin-left: 8px;
				}
			}
		}

		.actions-row
		{
			padding: 24px 16px;

			.auth-action-button
			{
				margin: 0px;

				@include call-to-action-button-styles(color($colors, button, base), color($colors, button, contrast));
			}
		}

	}
}
